*{
  background-color: #def;
  font-family: serif;
  font-weight: 100;
  text-align: center;
}

header {
  text-align: center;
  font-size: 40px;
}

textarea {
  text-align: left;
}

span {
  font-family: monospace;
  color: #f48;
  border: 1px solid #888888;
  font-size: 20px;
}

table {
  margin:auto;
}

.NewEvent {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap; 
}

.NewEvent div{
  margin: auto;
  border: 1px solid #888888;
}